{{> nav}}

<div> 
  <h1>Perfil de usuario</h1>
  <p>Bienvenido, {{user.name}}  {{user.surname}}</p>
  <p>Email: {{user.email}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Rol: 
    {{#each user.roles}}
      {{this}} 
    {{/each}}
  </p>

  {{#if user.githubData}}
    <h2>Datos de GitHub:</h2>
    <p>Nombre de usuario: {{user.githubData.username}}</p>
    <p>Avatar: <img src="{{user.githubData.avatarUrl}}" alt="Avatar"></p>
    <!-- Otros datos de GitHub que desees mostrar -->
  {{/if}}

  <a href="/api/session/logout">Cerrar sesión</a> 
</div>